@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); 
  }
    @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v21-latin-500.woff2') format('woff2'); 
  }
    @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'); 
  }
    @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'); 
  }
    @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v21-latin-900.woff2') format('woff2'); 
  }


ul {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

.container {
    width: 100%;
    max-width: 1432px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Body */

body {
    color:aliceblue;
    background-color: black;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400px;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-around;
    color:aliceblue;
}

.nav {
    display: flex;
    gap: 40px;
    font-size: 16px;
}

.link {
    color:aliceblue;
    font-size: 16px;
    text-decoration: none;
}

.link:hover {
    color: aqua;
    cursor: pointer;
    transform: scale(1.05);
}

.header_burger {
    display: none;
}

.icon-menu {
    fill: aliceblue;
    background-color: transparent;
    width: 24px;
    height: 24px;
    padding: 0;
}

.header-button {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button-red:hover,
.button-aqua:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.button-red {
    color: aliceblue;
    background-color:crimson;
    width: 88px;
    height: 30px;
    border-radius: 8px;
    border: 2px;
}

.button-aqua {
    background-color:aqua;
    width: 88px;
    height: 30px;
    border-radius: 8px;
    border: 2px;
}

/* main  */
.title {
   font-size: 54px;
   font-weight: 600; 
}

.section-info {
    padding: 20px 0;
}


/* banner */

.section-banner {
    padding: 20px 0;
}

.banner {
   width: 100%;
    height: 360px;
    background-image: url(images/Cosmobet_baner_3.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.container-banner {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 20px;
}

.banner-text {
    font-size: 54px;
    font-weight: 600; 
    box-shadow: 0 0 15px #ffcc00;
}

.banner-button {
    color: black;
    background-color: gold;
    background-color: gold;
    box-shadow: 0 0 15px 8px #ffcc00;
    font-size: 28px;
    width: 188px;
    height: 60px;
    border-radius: 8px;
    border: 2px;
}

.banner-button:hover {
  transition: box-shadow 0.3s ease;  
  box-shadow: 0 0 20px 18px rgb(61, 166, 61);
  cursor: pointer;
}

.section-bottom,
.section-game {
    padding: 20px 0;
}

.hidden {
position: absolute;
left: -10000px;
top: auto;
width: 1px;
height:1px;
overflow: hidden
}

.game-cart {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.game-icon {
   width: 180px;
    height: 180px;
}

.game-icon:hover {
  animation: shake 0.8s;
  box-shadow: 0 0 20px 20px rgb(61, 166, 61);
  cursor: pointer;
}

/* footer */
.footer-payment {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


@media (max-width: 768px) {
.nav {
    display: none;
}

.header_menu {
    display: flex;
}

.header_burger {
    display: block;
    padding: 20px;
}

.header-button {
    display: block;
}
}

@media (max-width: 400px) {
   .header {
    display: block;
} 

.banner {
    height: 360px;
    background-image: url(/images/Cosmobet_baner_mob.jpg);
}

.banner-text {
    font-size: 34px;
}

.banner-button {
    font-size: 20px;
}
}
